@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(50, 50, 50);
  color: rgb(200, 200, 200);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
